[user]
	name = Dima Grek
	email = dimagrek2021@gmail.com
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[core]
	editor = \"C:\\Users\\greg\\AppData\\Local\\Programs\\Microsoft VS Code\\Code.exe\" --wait
